 body{
     background-color: rgb(181, 207, 228);
     height: auto;
     width: auto;
     align-items: center;
 }
 #title{
     color: rgb(216, 107, 107);
 }
 #hi{
     color: rgb(228, 51, 139);
 }
 .main{
    text-align: center;
    display: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
 }
 .contact {
     padding: auto;
     display: center;
    margin: auto;
  padding: 0.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 1245px;
  padding: horizontal;
  align-items: space-between;
  background-color: rgb(14, 172, 235);
  align-content: space-between; 
  justify-content: space-between;    
 }
 .card {
     display: center;
    margin: auto;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 1200px;
  padding: horizontal;
  align-items: center;
  background-color: lightgrey;
  align-content: center; 
  justify-content: center;    
 }
 .con {
     margin: auto;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 1200px;
    padding: horizontal;
    align-items: space-between;
    background-color: rgb(234, 236, 243);
    align-content: space-between; 
  justify-content: space-between;  
 }
 #desktop-photo {
     border-radius: 20px;
     border: 2px solid black;
     border-color: black;
     box-shadow: 10px 10px 5px black; 
     /* box-shadow: 10px 10px 5px 12px rgba(22, 31, 34, 0.938); */
 }
 #mobile {
    border-radius: 20px;
     border: 2px solid black;
     border-color: black;
     box-shadow: 10px 10px 5px black; 
 }

 